.footer {
	&__line {
		margin: 50px 0px;
		border: 1px solid $c_3;
	}
	&__row {
		display: flex;
		@media (max-width:$md1) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@media (max-width:$md3) {
			align-items: center;
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;
		row-gap: 10px;
		@media (max-width:$md2) {
			width: 35%;
		}
		@media (max-width:$md3) {
			width: 100%;
			align-items: center;
		}
		&_logo {
			margin-right: 160px;
			@media (max-width:$md1) {
				margin-right: 0px;
			}
		}
		&_company {
			margin-right: 120px;
			@media (max-width:$md1) {
				margin-right: 0px;
			}
		}
		&_support {
			margin-right: 70px;
			@media (max-width:$md1) {
				margin-right: 0px;
			}
		}
	}
	&__logo {
		font-weight: 800;
		font-size: 24px;
		line-height: 36px;
		transition: 0.3s;
		&:hover {
			transform: scale(1.1)
		}
	}
	&__sublogo {
		max-width: 210px;
		font-weight: normal;
		font-size: 14px;
		line-height: 26px;
		margin: 10px 0px 20px;
		@media (max-width:$md3) {
			text-align: center;
		}
	}
	&__social {
		display: flex;
		column-gap: 10px;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: #ffffff18;
		&:nth-child(2) {
			padding-right: 2px;
		}
		& img {
			transform: scale(0.9);
			transition: 0.3s;
		}
		&:hover {
			img {
				transform: scale(1);
			}
		}
	}
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 10px;
	}
	&__link {
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		width: auto;
		transition: 0.3s;
		&:hover {
			color: $c_5;
		}
	}
	&__email {
		display: flex;
		align-items: center;
		position: relative;
		width: 255px;
		height: 40px;
		border-radius: 8px;
		[data-value] {
			font-weight: 300;
			font-size: 14px;
			line-height: 21px;
			color: #D9DBE1;
		}
		&._error {
			.footer__svg {
				fill: red;
			}
		}
	}
	&__input {
		position: relative;
		width: 259px;
		height: 44px;
		padding: 10px 50px 10px 12px;
		background: #FFFFFF33;
		border: 1px solid $c_2;
		border-radius: 8px !important;
		transition: 0.3s;
		&._focus {
			border: 1px solid #fff;
			border-radius: 8px !important;
		}
		&._error {
			border: 1px solid red;
			border-radius: 8px !important;
			
		}
	}
	&__button-form {
		position: absolute;
		right: 0;
		margin-top: 2px;
		margin-right: 12px;
	}
	&__svg {
		fill: white;
		transition: 0.3s;
	}
}